    body{
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #fff;
    }
    .adat-parag{
        display: inline;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }
    #index_szoveg{
        text-decoration: none;
    }
    #kivalaszott_motor_cim {
        font-family: 'Lilita One', sans-serif;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color: #fff;
        text-align: center;
        font-size: 80px;
        margin-top: 50px;
    }
    #kivalaszott_motor_kep{
        width: 420px;
        height: 270px;
        border: solid 1px #fff;
        border-radius: 20px;
    }
    .container{
        margin-top: 40px;
        height: 300px;
    }
    
    td{
    border-top: solid 1px #d6d6d6;
    padding-bottom: 20px;
    font-size: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.tablazat_cimek{
    padding: 0px 10px;
}
    
    #vasarlas_div {
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }
    #vasarlas_div_ar {
        margin-left: auto;
        margin-right: 100px;
        font-family: 'Lilita One', sans-serif;
        font-style: italic;
        font-weight: bold;
        color: #fff;
        font-size: 60px;
    }
    .btn-success{
        width: 200px;
        border-radius: 15px;
    }
    .btn-success:hover{
        transform: translateX(10px);
        transition: .2s;
    }
    .btn-success:not(:hover){
        transition: 0.2s;
        transform: scale(1);
    }