.navlist{
        display: flex;
        list-style-type: none;
}
.navlist a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin-left: 60px;
    border-bottom: 2px solid transparent;
}
.navlist a:hover{
    border-bottom: 2px solid #fff;
    transition: .3s;
}

.navlist a.active{
    border-bottom: 2px solid #fff;
}