/*KARTYA*/
.card{
    width: 30%;
    height: auto;
    padding: auto;
    margin: auto;
    margin-top: 100px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.40);
    color: #fff;
}

/*FELÜLET*/
.input-group-text{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.40);
}

/*REGISZTRACIOS_GOMB*/
.btn{
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
}

.btn-primary:hover{
    border: 1px solid rgba(255, 255, 255, 0.40);
    transform: translateY(-8px);
    transition: .2s;
}

.btn-primary:not(:hover){
    transition: .2s;
    transform: scale(1);
}

/*REGISZTRÁCIÓS_HIBA*/
#minden-mezo{
    margin-top: 20px;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}